# Virtual Environment
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# Datasets
data/
datasets/

# Processed data
data/raw/
data/processed/

# ML Models
models/
*.pkl
*.joblib
*.h5

# Logs
logs/
*.log

# VS Code
.vscode/

# Build files
build/
dist/
*.egg-info/

# OS files
.DS_Store
Thumbs.db